:host {
    background-color: #181818;
    grid-area: now-playing-bar;
    width: 100%;
    z-index: 4;
}

footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    background-color: #181818;
    border-top: 1px solid #282828;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    height: 90px;
    min-width: 620px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    padding: 0px 24px;

    .now-playing-card {
        img {
            width: 56px;
            height: 56px;
        }

        .title {
            font-size: 14px;
            font-weight: 400;
            letter-spacing: normal;
            line-height: 16px;
            text-transform: none;
        }

        .subtitle {
            font-size: 11px;
            font-weight: 400;
            letter-spacing: normal;
            line-height: 16px;
            text-transform: none;
        }
    }

    .player-controls {
        margin-top: 16px;
        .play-button {
            color: black;
            background: white;
        }
        .music-duration {
            width: 450px;
        }

        .duration-text {
            font-size: 11px;
            font-weight: 400;
            letter-spacing: normal;
            line-height: 16px;
            text-transform: none;
            color: rgb(179, 179, 179);
        }
    }
}
