<footer fxLayout="row" fxLayoutAlign="start center">
    <div class="now-playing-card" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="16px">
        <img src="https://i.scdn.co/image/ab67616d00004851a111c87c210cc9bff93948bd">
        <div fxLayout="column">
            <p class="title">Track Title Name</p>
            <p class="subtitle">Track Subtitle</p>
        </div>
    </div>
    <div fxFlex></div>
    <div class="player-controls"></div>
    <div fxFlex></div>
    <div class="volume-misc-controls"></div>
</footer>

