nav {
    background-color: #000;
    grid-area: nav-bar;
    width: 300px;
    z-index: 3;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-height: 0;
    position: relative;
    height: 100%;
    padding-top: 24px;

    .nav-header {
        margin-bottom: 16px;
        padding: 0px 24px;
    }
    a {
        img {
            height: 40px;
            width: 131px;
        }
    }

    ul {
        padding: 0px;
        margin: 0px;
        list-style: none;
        li {
            padding: 0 8px;
            a {
                color: white;
                -webkit-box-align: center;
                -ms-flex-align: center;
                align-items: center;
                border-radius: 4px;
                cursor: pointer;
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                gap: 16px;
                height: 40px;
                padding: 0 16px;

                &.active {
                    background-color: #282828;
                }
            }
        }
    }

    .playlists {
        overflow: auto;
    padding: 0.5rem 0 0.25rem;
    }

    hr {
        background-color: #282828;
        border: none;
        height: 1px;
        margin: 8px 24px 0 24px;
        min-height: 1px;
    }
}
