<nav fxLayout="column"> 
    <div class="nav-header">
        <a routerLink="/"><img src="assets/images/spotify_logo_white.png"></a>
    </div>
    <ul class="navigation-items">
        <li *ngFor="let navItem of navItems">
            <a [routerLink]="navItem.path" routerLinkActive="active">
                <mat-icon>{{navItem.icon}}</mat-icon>
                <span>{{navItem.label}}</span>
            </a>
        </li>
    </ul>
    <hr>
    <ul class="playlists" *ngIf="playlists" fxFlex>
        <li *ngFor="let playlist of playlists.items">
            <a routerLink="/playlist/{{playlist.id}}" routerLinkActive="active">{{playlist.name}}</a>
        </li>
    </ul>
</nav>