<spotify-topbar></spotify-topbar>
<div class="background-section" [ngStyle]="{'background-color': backgroundColor}"></div>
<div class="page-container" fxLayout="column">
    <div *ngIf="playlistInfo" class="playlist-header-info">
        <div fxLayout="row" fxLayoutGap="16px">
            <img *ngIf="playlistInfo && playlistInfo.images" [src]="playlistInfo.images[0].url">
            <div fxLayout="column">
                <div fxFlex></div>
                <h6 class="group-type">{{playlistInfo.type}}</h6>
                <h1>{{playlistInfo.name}}</h1>
                <div fxLayout="row">
                    <span>{{playlistInfo.owner.display_name}}</span>
                    <span class="dot-spacer">•</span> 
                    <span>{{playlistInfo.followers.total | number}} likes</span>
                    <span class="dot-spacer">•</span> 
                    <span>{{playlistInfo.tracks.items.length | number}} songs</span>
                </div>
            </div>
        </div>
    </div>
    <div *ngIf="playlistInfo" class="playlist-tracks" fxFlex>
        <table>
            <thead>
                <tr>
                    <th>#</th>
                    <th>Title</th>
                    <th>Album</th>
                    <th>Date Added</th>
                    <th class="duration">Track Length</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let tracks of playlistInfo.tracks?.items; let i = index">
                    <td>{{i + 1}}</td>
                    <td>
                        <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="16px">
                            <img *ngIf="tracks.track.album.images" class="album-image" [src]="tracks.track.album.images[0].url">
                            <div fxLayout="column">
                                <span>{{tracks.track.name}}</span>
                                <div fxLayout="row">
                                    <span *ngFor="let artist of tracks.track.artists">{{artist.name}}<ng-container *ngIf="tracks.track.artists.length > 1">, </ng-container></span>
                                </div>
                            </div>
                        </div>
                    </td>
                    <td>{{tracks.track.album.name}}</td>
                    <td>{{tracks.added_at | date}}</td>
                    <td class="duration">{{tracks.track.duration_ms | duration}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>