.playlist-header-info {
    padding: 36px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.6) 0, #121212 100%);
    img {
        width: 230px;
        height: 230px;
    }
    .dot-spacer {
        margin: 0px 4px;
    }
    .group-type {
        text-transform: uppercase;
    }
}

.playlist-tracks {
    padding: 36px;
    table {
        border-collapse: collapse;
        text-align: left;
        width: 100%;
        tr {
            height: 56px;
        }
        th,
        td {
            vertical-align: middle;
        }
        tr:first-child td:first-child {
            border-top-left-radius: 4px;
        }
        tr:first-child td:last-child {
            border-top-right-radius: 4px;
        }
        tr:last-child td:first-child {
            border-bottom-left-radius: 4px;
        }
        tr:last-child td:last-child {
            border-bottom-right-radius: 4px;
        }

        .duration {
            text-align: right;
        }

        img.album-image{
            width: 40px;
            height: 40px;
        }
    }
}
