.playlist-header-info {
    padding: 36px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.6) 0, #121212 100%);
    h1 {
        font-size: 72px;
        font-weight: 900;
        letter-spacing: -0.04em;
        line-height: 96px;
        text-transform: none;
    }
    img {
        width: 230px;
        height: 230px;
    }
    .dot-spacer {
        margin: 0px 4px;
    }
    .group-type {
        text-transform: uppercase;
    }
}

.playlist-tracks {
    padding: 36px;
}
