.background-section {
    background-image: -webkit-gradient(linear,left top,left bottom,from(rgba(0,0,0,.6)),to(#121212));
    background-image: linear-gradient(rgba(0,0,0,.6) 0,#121212 100%);
    height: 332px;
    margin-top: -64px;
    position: absolute;
    -webkit-transition: background 1s ease;
    transition: background 1s ease;
    width: 100%;
    z-index: -1;
}

.card-grid-container {
    grid-gap: 24px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
    grid-auto-rows: auto;
    grid-template-rows: 1fr;
    overflow-y: hidden;
    row-gap: 16px;
    margin-bottom: 16px;

    [ng-reflect-router-link] {
        cursor: pointer;
    }

    .title-card {
        background-color: rgba(255, 255, 255, 0.1);
        border-radius: 4px;
        height: 80px;
        position: relative;
        -webkit-transition: background-color 0.3s ease;
        transition: background-color 0.3s ease;

        div.image-container {
            min-height: 80px;
            min-width: 80px;
            
            div.image {
                background-color: rgba(255, 255, 255, 0.2);
            border-radius: 4px;
            -webkit-box-shadow: 0 8px 24px rgb(0 0 0 / 50%);
            box-shadow: 0 8px 24px rgb(0 0 0 / 50%);
            padding-bottom: 100%;
            position: relative;
            width: 100%;
            }
            img {
                display: block;
                height: 100%;
                left: 0;
                position: absolute;
                top: 0;
                width: 100%;
            }
        }
    }
}
